#content #testimonial {
  margin-bottom: 90px;
}
#content #testimonial .content {
  margin: auto;
  position: relative;
  background: url(../image/Testimonial/background.png) no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.77);
  height: 400px;
  width: 100%;
}
#content #testimonial .content p {
  position: absolute;
  left: 30%;
  top: 40%;
  color: white;
  font-family: "PT Serif", serif;
  font-size: 17px;
}
#content #testimonial .content img {
  position: absolute;
  left: 22%;
  top: 37%;
}
#content #testimonial .content .author {
  position: absolute;
  font-family: "PT Serif", serif;
  color: #858585;
  font-size: 15px;
  left: 30%;
  top: 65%;
}
